@model VendasHackathon.Models.ClienteModel

@{
    ViewData["Title"] = "Inativa cliente";
}

<h4>Inativar Cliente</h4>
<h6> tem certeza que deseja inativar o cliente @Model.Nome ?</h6>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InativaCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Nome" class="control-label"></label>
                <input disabled asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input disabled asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                <input disabled asp-for="DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inativa" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
