@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h3>Hackathon S4E</h3>
    <h6>Equipe: Tiago Euzébio Cordeiro e Felipe Euzébio Cordeiro</h6>
    <h6>
        <a href="https://www.github.com/tiagoeuzebiocordeiro/VendasHackathon">Repositório do projeto</a>
    </h6>
</div>
